/**
 * standard
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, serif;
    font-size: 1.2rem;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    margin: 2rem 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
    padding: 0 30px;
}

p {
    margin: 2rem 0;
}

.start_block {
    font-size: 1.4rem;
    font-weight: 300;
}

ul {
    padding: 0;
}

li {
    margin: 1rem 0;
}

#posts {
    list-style-type: none;
}

.post_list_item:before {
    content: ""
}

a {
    color: #000000;
}

h1 a {
    text-decoration: none;
}

.date {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

/**
 * Media Queries
 */

@media (min-width: 960px) {
    .container {
        width: 900px;
    }

    .content {
        padding: 0px 105px; 
    }

    html {
        font-size: 16px;
    }
}

@media (max-width: 960px) and (min-width: 600px) {
    .container {
        /*width: 600px;*/
    }

    .content {
        padding: 0px 60px; 
    }

    html {
        font-size: 14px;
    }

    .p_img img {
        padding: 20px !important;
        width: 200px; 
        height: 200px;
    }
}

@media (max-width: 599px) and (min-width: 320px) {
    .container {
        /*width: 320px;*/
    }

    .content {
        padding: 0px 15px; 
    }
}

@media (max-width: 599px) {
    html {
        font-size: 10px;
    }

    .p_img img {
        padding: 10px !important;
        width: 100px; 
        height: 100px;
    }
}

.container {
    margin: 0px auto;
}

.sans {
    font-family: 'Merriweather Sans', sans-serif;
}

/**
 * Styling and color
 */

body {
    background: #ffffff;
    color: #435359;
}

a {
    -webkit-transition: color 0.25s ease;
    color: #186887;
}

a:hover {
    color: #59B4DC;
}

h1 a {
    color: #293033;
}

h1 a:hover {
    color: #477e80;
}

.twitter_link,
.twitter_link:hover {
    color: #aab3ae;
    font-weight: normal;
}

#social_header .twitter_link span,
#rss_button,
#header_status a {
    -webkit-transition: color 0.25s ease;
    color: #ffffff;
    text-decoration: none;
}

#social_header .twitter_link:hover span,
#rss_button:hover,
#header_status a:hover {
    color: #53a9cf;
}

#logo_link, #logo_link:hover {
    color: #000000;
}

/** header **/
#header_status {
    text-align: right;
}

/** logo **/
#header {
    text-align: center;
}

#header .container {
    padding: 2rem 0px 2rem 0px;
}

#logo_link {
    text-decoration: none;
    display: inline-block;
}

#logo_text,
#logo_icon {
    display: inline-block;
}

#logo_icon {
    width: 32px;
    height: 32px;
    line-height: 4rem;
    vertical-align: top;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAD4+/0q9C1wAAAAAXRSTlMAQObYZgAAABpJREFUCNdj+P+fAQiJIBiIUwkExBFgtQQJAHyDR7kBtlCTAAAAAElFTkSuQmCC) no-repeat;
}

#logo_text {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: #ffffff;
}

#logo_text span {
    margin-left: -.22rem; 
}

#logo_status {
    display: inline-block;
    white-space: nowrap; 
    font-style: italic;
    font-weight: 300;
    color: #aab3ae;
}

/** social **/
#social_header {
    text-align: right;
    padding-bottom: 1rem;
}

#social_container {
}

#social_header hr {
    background: #aab3ae;
    border: 0;
    height: 2px;
    padding: 0;
}

#header_wrapper {
    background: #000000;
}

.twitter_link {
    text-decoration: none;
    margin-right: 60px;
}

.twitter_link span {
    text-decoration: underline;
}

/** posts **/
.header_img {
    text-align: center;
    padding-top: 2rem;
}

.header_img img {
    padding: 40px;
    border-radius: 90px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* assumes img size of 100x100 */
}

.color1 {
    background: #ABC02B;
}

.color2 {
    background: #33A5A9;
}

.post_list_item {
    overflow: hidden; /* firefox negates header margins otherwise */
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
