.post_header img {
    display: none;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    text-decoration-color: #223455;
}

h2 {
    font-size: 24px;
    line-height: 1.55;
    text-align: left;
}

@media (max-width: 767px) {
    #posts li {
        width: 320px;
    }
}

@media (min-width: 768px) {
    #posts li {
        width: 380px;
    }

    #posts .col_1 {
        margin-right: 90px; 
    }
}

#posts li {
    float: left;
    margin-top: 30px;
}

.content {
    padding-left: 0;
}

.date {
    text-align: left;
}

.post_header {
    text-align: left;
}
