body {
    position: relative;
    font-family: merriweather, serif;
    color: #333333;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 767px) {
    body {
        padding-bottom: 450px; 
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 738px;
    }

    body {
        padding-bottom: 350px;
    }
}

.container {
    padding: 0px;
}

#header {
    margin-bottom: 15px;
}

#posts {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    line-height: 1.45em;
}

h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.43em;
    text-align: center;
    color: #464646;
}

.post_header {
    text-align: center;
}

p {
    line-height: 1.7em;
    margin-top: 1.7em;
    margin-bottm: 1.7em;
}

@media (min-width: 768px) {
    .post_header img {
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .post_header img {
        width: 150px;
        height: 150px;
    }
}

.more_wrapper {
    text-align: right;
}

.more_link {
    padding: 36px 25px 5px 0px;
    display: inline-block;
}
    
.google_plus {
    display: inline-block;
    vertical-align: top;
}

.share_buttons {
    text-align: center;
    margin-top: 22px;
}

.fb_iframe_widget {
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 15px;
}

.fb_iframe_widget iframe {
    max-height: 20px !important;
}
.IN-widget {
    vertical-align: top !important;
    margin-right: 30px;
    margin-bottom: 15px;
}

.twitter-share-button {
    width: 105px !important;
    margin-right: 2px;
    margin-bottom: 15px;
}

.content {
    padding: 0px 15px;
}

.sans {
    font-family: sans-serif;
}

#footer {
    background: #3d3d3d;
    height: 300px;
    bottom: 0;
    width: 100%;
    position: absolute;

    color: #ffffff;
}

@media (max-width: 767px) {
    #footer {
        height: 400px; 
    }
}

@media (min-width: 768px) {
    #footer {
        height: 300px; 
    }
}

#footer h2 {
    font-size: 32px;
    line-height: 1.9em;
    text-align: left;
}

#about {
    width: 280px;
    padding-bottom: 25px;
}
 
.green {
    color: #a39f29;
}

.quote {
    color: #787878;
}

blockquote {
    padding-top: 0px;
    padding-bottom: 0px;
}

blockquote p {
    color: #787878;
    font-size: 28px;
}

.col_left {
    float: left;
}

@media (min-width: 768px) {
    .col_right {
        float: right;
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .col_right {
        float: left;
        padding-top: 20px;
    }
}

#rss_link {
    padding: 20px 20px 20px 0px;
}

#rss_link img {
    text-decoration: none;
}

#rss_link span {
    margin-left: 10px;
    font-family: sans-serif;
}

.date {
    text-align: center;
    font-size: 14px;
    color: #787878;
    margin-top: 0;
}

.post_link {
    color: #333333;
}

.post_link:hover {
    color: #787878;
    text-decoration: none;
}
