/**
 * standard
 */

body {
    padding-bottom: 90px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 4rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
}

blockquote {
    margin: 0;
    color: #5F7411;
}

blockquote p:before {
    display: inline-block;
    content: "\201C"; /*Unicode for Left Double Quote*/
    font-size: 1.2em;
    font-weight: bold;
    width: 30px;
    margin-left: -30px;
}

blockquote p:after {
  content: "";
}

a {
    display: inline-block;
    line-height: 2rem;
}

.prevent_ul_a_linebreak a {
    display: inline;
    padding: 16px 0px;
}

p a {
    display: inline;
    padding: 16px 0px;
}

h1 a {
    line-height: 4rem;
}

a:hover {
    text-decoration: none;
}

#posts {
    padding-bottom: 2rem;
}

#email_subscriber {
    padding: 2rem 0;
    border-top: 5px #000000 solid;
    border-bottom: 2px #000000 solid;
    margin: 2rem 0;
}

#email_subscriber h2 {
    text-align: center;
    margin-top: 0;
}

#mc-embedded-subscribe-form {
    text-align: center;
}

#mce-EMAIL {
    display: inline-block;
    border: 1px #000000 solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 8px;
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}

#mc-embedded-subscribe {
    -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease;

    display: inline-block;
    background: #81a12b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    padding: 8px 15px;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #ffffff;

    cursor: pointer;
}

#mc-embedded-subscribe:hover {
    background: #5a7335;
}

/**
 * Styling and color
 */

.twitter_link:hover span {
    text-decoration: none;
}

.large_dots:before {
    content: ' \25CF\00a0\00a0\00a0\00a0\25CF\00a0\00a0\00a0\00a0\25CF';
    font-size: 1.2rem;
    font-weight: normal;
    color: #5F7411;
}

.large_dots {
    text-align: center;
    border: 0;
    height: 2rem;
}

ul {
    list-style-type: none;
}

ul li:before {
    color: #5F7411;
    content:"\25CF";
    padding-right: .50rem;
    position:relative;
    margin-left: -1.2rem;
}

/**
 * social
 */
#share_buttons {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

#share_elements {
    display: inline-block;
}

.share_element {
    float: left;
    padding-bottom: 16px;
    line-height: 0;
}

.google_plus {
    display: inline-block;
    vertical-align: top;
}

.google_plus div {
    vertical-align: top !important;
}

.fb_iframe_widget {
    margin-right: 32px;
}

.fb_iframe_widget span {
    vertical-align: top !important;
}

.IN-widget {
    vertical-align: top !important;
    margin-right: 32px;
}

.twitter-share-button {
    width: 105px !important;
    vertical-align: top !important;
}

.buffer-button {
    vertical-align: top;
}

#disqus_thread {
    padding-top: 16px;
}

/** highlight **/
.highlight { 
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: hidden;
}
 
code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}
 
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #555 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */

pre {
    display: block;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.75rem;
    line-height: 1.125rem;
    padding: 8px;
}

code {
    white-space: pre-wrap;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
