body {
    position: relative;
    font-family: merriweather, serif;
    color: #333333;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

#logo_link {
    /*text-decoration-color: #223455;*/
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #666276;
}

#logo_link:hover {
    border-bottom: 3px #233555 solid;
}

pre {
    border-radius: 0px;
}

@media (max-width: 767px) {
    body {
        padding-bottom: 450px; 
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 738px;
    }

    body {
        padding-bottom: 350px;
    }
}

.container {
    padding: 0px;
}

#header {
    margin-top: 30px;
    margin-bottom: 30px;
}

#posts {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    line-height: 1.45em;
    font-family: 'Merriweather Sans', sans-serif;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.43em;
    text-align: center;
    color: #464646;
}

.post_header {
    text-align: center;
}

p {
    line-height: 1.7em;
    margin-top: 1.7em;
    margin-bottm: 1.7em;
}

@media (min-width: 768px) {
    .post_header img {
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .post_header img {
        width: 150px;
        height: 150px;
    }
}

.more_wrapper {
    text-align: right;
}

.more_link {
    padding: 36px 25px 5px 0px;
    display: inline-block;
}
    
.google_plus {
    display: inline-block;
    vertical-align: top;
}

.share_buttons {
    text-align: center;
    margin-top: 22px;
}

.fb_iframe_widget {
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 15px;
}

.fb_iframe_widget iframe {
    max-height: 20px !important;
}
.IN-widget {
    vertical-align: top !important;
    margin-right: 30px;
    margin-bottom: 15px;
}

.twitter-share-button {
    width: 105px !important;
    margin-right: 2px;
    margin-bottom: 15px;
}

.content {
    padding: 0px 15px;
}

.sans {
    font-family: sans-serif;
}

#footer {
    /*background: #223455;*/
    height: 300px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#footer .container {
    border-top: 5px #223455 solid;
}

@media (max-width: 767px) {
    #footer {
        height: 400px; 
    }
}

@media (min-width: 768px) {
    #footer {
        height: 300px; 
    }
}

#footer h2 {
    font-size: 32px;
    line-height: 1.9em;
    text-align: left;
    color: #bbbcbd;
}

#about {
    width: 280px;
    padding-bottom: 25px;
}
 
.green {
    border-bottom: 2px #223455 solid;
}

.quote {
    color: #787878;
}

blockquote {
    padding-top: 0px;
    padding-bottom: 0px;
}

blockquote p {
    color: #787878;
    font-size: 28px;
}

.col_left {
    float: left;
}

@media (min-width: 768px) {
    .col_right {
        float: right;
        padding-top: 14px;
    }
}

@media (max-width: 767px) {
    .col_right {
        float: left;
        padding-top: 20px;
    }
}

#rss_link {
    padding: 20px 20px 20px 0px;
    /*text-decoration-color: #223555;*/
    text-decoration: none;
    font-weight: bold;
}

#rss_link img {
    text-decoration: none;
}

#rss_link span {
    margin-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #333333;
}

#rss_link span:hover {
    border-bottom: 2px #223555 solid;
}

.date {
    text-align: center;
    font-size: 14px;
    color: #a2a2a3;
    margin-top: 0;
}

.post_link {
    color: #333333;
}

.post_link:hover {
    color: #666377;
    text-decoration: none;
}

/** highlight **/
.highlight .hll { background-color: #49483e }
.highlight  { background: #272822; color: #f8f8f2 }
.highlight pre { background: transparent; color: #f8f8f2 }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
